.container {
  width: 100%;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
